<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>LtnCapA</key>
  <dict>
    <key>LtnCapE</key>
    <integer>-220</integer>
  </dict>
  <key>public.kern1.Diag</key>
  <dict>
    <key>LtnCapA</key>
    <integer>-390</integer>
  </dict>
</dict>
</plist>
