Source: smith
Priority: optional
Section: utils
Maintainer: Martin Hosken <martin_hosken@sil.org>
Build-Depends: debhelper (>= 8.0), python, python-support, bash-completion, asciidoc, doc-base 
Standards-Version: 3.9.3
Homepage: http://projects.palaso.org/projects/wsiwaf

Package: smith-common
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: build framework for Writing Systems Implementation projects
 Provides a common build framework to create, test and maintain writing systems
 implementation components like fonts and keyboards.

Package: smith-font
Architecture: all
Depends: ${misc:Depends}, smith-common, libfont-ttf-perl, libfont-ttf-scripts-perl, fontforge, python-fontforge, texlive-xetex, nsis, python-palaso-font, grcompiler
Recommends: graphite-utilities
Description: Fonts build system
 Provides a build framework for fonts, generating
 builds, test results and packages for various environments

Package: smith-keyboard
Architecture: all
Depends: ${misc:Depends}, smith-common, python-palaso-kbd, nsis, mingw-w64, pdftk, inkscape
Description: Keyboard build system
 Provides a build framework for keyboards

Package: smith
Architecture: all
Depends: ${misc:Depends}, smith-font, smith-keyboard
Description: Metapackage for smith fonts and keyboards
 Provides a build framework for writing system implementations
 including fonts and keyboards