#!/usr/bin/make -f

build-arch: build-stamp
build-indep: build-stamp

build : build-stamp
build-stamp :
	dh_testdir
	./mywaflite
	@- rm -fr temp ; mkdir temp ; cd temp ; ../smith --version
	touch build-stamp

clean :
	dh_testdir
	dh_testroot
	rm -f build-stamp
	rm -f smith 
	find -name "*config.log" -delete
	find -name "*.pyc" -delete
	find -name "*.lock-wscript" -delete
	find -name "*.lock-wafbuildlinux2*" -delete
	rm -rf docs/smith/*.pdf

install : build
	dh_testdir
	dh_testroot
	dh_prep
#	dh_installdirs
	x=`ls -td .waf* | head -1` ; for f in `find $$x -not -name \*.pyc` ; do if [ -d $$f ] ; then mkdir -p debian/smith-common/usr/lib/$${f#.} ; else cp $$f debian/smith-common/usr/lib/$${f#.} ; fi ; done
	mkdir -p debian/smith-common/usr/bin/
	cp smith debian/smith-common/usr/bin/smith
	a2x docs/smith/smith-manual.txt

binary-indep : build install
	dh_testdir
	dh_testroot
	dh_bash-completion
	dh_installchangelogs
	dh_installdocs
	dh_pysupport
	dh_installdeb
	dh_gencontrol
	dh_installman
	dh_compress
	dh_builddeb
	dh_md5sums

binary-arch: build install

binary : binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install

