silfont @ git+https://github.com/silnrsi/pysilfont.git@master

-c smith-constraints.txt

# Top-level requirements
compreffor
MutatorMath
odfpy
opentype-sanitizer
setuptools-git-ls-files
weasyprint
diffenator2
ufo2ft 
numpy
fontTools 
defcon [pens,lxml]
fontbakery [all]
fontmake
opentype-sanitizer

# WStech-maintained libraries
palaso
feaxlib
sldr
langtags

-r palaso-requirements.txt

# Dependencies of above packages or their dependencies
# We need to specify all the extras we, or our dependencies, will require to
# be included when their wheels are built. 
regex
bs4
dehinter
gftools
toml
shaperglot
pygments
axisregistry
filelock
