-c smith-constraints.txt

# Top-level requirements
compreffor @ git+https://github.com/googlei18n/compreffor
fontaine @ git+https://github.com/googlefonts/pyfontaine
fontbakery @ git+https://github.com/googlefonts/fontbakery
glyphConstruction @ git+https://github.com/typemytype/glyphConstruction
MutatorMath @ git+https://github.com/LettError/MutatorMath
odfpy @ git+https://github.com/eea/odfpy
opentype-sanitizer @ git+https://github.com/googlefonts/ots-python
palaso @ git+https://github.com/silnrsi/palaso-python
pysilfont @ git+https://github.com/silnrsi/pysilfont
fontmake @ git+https://github.com/googlei18n/fontmake
gftools @ git+https://github.com/googlefonts/gftools
setuptools-git-ls-files
weasyprint

-r palaso-requirements.txt
-r pysilfont-requirements.txt
# Dependencies of above packages or their dependencies
# We need to specify all the extras we, or our dependencies, will require to
# be included during setup.py being run when their wheels are built. 
defcon [pens,lxml]
fonttools [graphite,lxml,ufo,unicode,woff]
regex
