<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.schriftgestaltung.Glyphs.fontUserData</key>
  <dict>
    <key>com.schriftgestaltung.Glyphs.groupsNotInFeature</key>
    <array/>
  </dict>
  <key>com.schriftgestaltung.appVersion</key>
  <string>3100</string>
  <key>com.schriftgestaltung.customName</key>
  <string>Italic</string>
  <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
  <true/>
  <key>com.schriftgestaltung.customParameter.GSFont.disablesLastChange</key>
  <true/>
  <key>com.schriftgestaltung.customParameter.GSFont.uniqueID</key>
  <string>SIL International: Andika Mtihani Italic: 2021</string>
  <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
  <string/>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
  <integer>400</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
  <integer>100</integer>
  <key>com.schriftgestaltung.fontMasterOrder</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.keyboardIncrement</key>
  <integer>1</integer>
  <key>com.schriftgestaltung.weight</key>
  <string>Regular</string>
  <key>com.schriftgestaltung.weightValue</key>
  <integer>400</integer>
  <key>com.schriftgestaltung.width</key>
  <string>Regular</string>
  <key>com.schriftgestaltung.widthValue</key>
  <integer>100</integer>
  <key>org.sil.lcg.toneLetters</key>
  <dict>
    <key>contourWidth</key>
    <integer>480</integer>
    <key>dotSize</key>
    <integer>180</integer>
    <key>dotSpacing</key>
    <integer>200</integer>
    <key>glyphDepth</key>
    <integer>-25</integer>
    <key>glyphHeight</key>
    <integer>1600</integer>
    <key>italicAngle</key>
    <integer>14</integer>
    <key>marginDotLeft</key>
    <integer>120</integer>
    <key>marginDotRight</key>
    <integer>160</integer>
    <key>marginFlatLeft</key>
    <integer>120</integer>
    <key>marginFlatRight</key>
    <integer>160</integer>
    <key>marginPointLeft</key>
    <integer>100</integer>
    <key>marginPointRight</key>
    <integer>140</integer>
    <key>strokeThickness</key>
    <integer>120</integer>
  </dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>.null</string>
    <string>nonmarkingreturn</string>
    <string>Space</string>
    <string>ExclamationMrk</string>
    <string>QuotMrk</string>
    <string>NumSgn</string>
    <string>DollarSgn</string>
    <string>PercentSgn</string>
    <string>Ampersand</string>
    <string>Apos</string>
    <string>LftParen</string>
    <string>RtParen</string>
    <string>Asterisk</string>
    <string>PlusSgn</string>
    <string>Comma</string>
    <string>HyphenMinus</string>
    <string>FullStop</string>
    <string>Solidus</string>
    <string>DigitZero</string>
    <string>DigitOne</string>
    <string>DigitTwo</string>
    <string>DigitThree</string>
    <string>DigitFour</string>
    <string>DigitFive</string>
    <string>DigitSix</string>
    <string>DigitSeven</string>
    <string>DigitEight</string>
    <string>DigitNine</string>
    <string>Colon</string>
    <string>Semicolon</string>
    <string>LTSgn</string>
    <string>EqSgn</string>
    <string>GTSgn</string>
    <string>QstnMrk</string>
    <string>AtSgn</string>
    <string>LtnCapA</string>
    <string>LtnCapB</string>
    <string>LtnCapC</string>
    <string>LtnCapD</string>
    <string>LtnCapE</string>
    <string>LtnCapF</string>
    <string>LtnCapG</string>
    <string>LtnCapH</string>
    <string>LtnCapI</string>
    <string>LtnCapJ</string>
    <string>LtnCapK</string>
    <string>LtnCapL</string>
    <string>LtnCapM</string>
    <string>LtnCapN</string>
    <string>LtnCapO</string>
    <string>LtnCapP</string>
    <string>LtnCapQ</string>
    <string>LtnCapR</string>
    <string>LtnCapS</string>
    <string>LtnCapT</string>
    <string>LtnCapU</string>
    <string>LtnCapV</string>
    <string>LtnCapW</string>
    <string>LtnCapX</string>
    <string>LtnCapY</string>
    <string>LtnCapZ</string>
    <string>LftSqrBrac</string>
    <string>ReverseSolidus</string>
    <string>RtSqrBrac</string>
    <string>CircumAccent</string>
    <string>LowLine</string>
    <string>GraveAccent</string>
    <string>LtnSmA</string>
    <string>LtnSmB</string>
    <string>LtnSmC</string>
    <string>LtnSmD</string>
    <string>LtnSmE</string>
    <string>LtnSmF</string>
    <string>LtnSmG</string>
    <string>LtnSmH</string>
    <string>LtnSmI</string>
    <string>LtnSmJ</string>
    <string>LtnSmK</string>
    <string>LtnSmL</string>
    <string>LtnSmM</string>
    <string>LtnSmN</string>
    <string>LtnSmO</string>
    <string>LtnSmP</string>
    <string>LtnSmQ</string>
    <string>LtnSmR</string>
    <string>LtnSmS</string>
    <string>LtnSmT</string>
    <string>LtnSmU</string>
    <string>LtnSmV</string>
    <string>LtnSmW</string>
    <string>LtnSmX</string>
    <string>LtnSmY</string>
    <string>LtnSmZ</string>
    <string>LftCurlyBrac</string>
    <string>VertLine</string>
    <string>RtCurlyBrac</string>
    <string>Tilde</string>
    <string>LtnCapADiaer</string>
    <string>LtnCapARingAbv</string>
    <string>LtnCapCCedilla</string>
    <string>LtnCapEAcute</string>
    <string>LtnCapNTilde</string>
    <string>LtnCapODiaer</string>
    <string>LtnCapUDiaer</string>
    <string>LtnSmAAcute</string>
    <string>LtnSmAGrave</string>
    <string>LtnSmACircum</string>
    <string>LtnSmADiaer</string>
    <string>LtnSmATilde</string>
    <string>LtnSmARingAbv</string>
    <string>LtnSmCCedilla</string>
    <string>LtnSmEAcute</string>
    <string>LtnSmEGrave</string>
    <string>LtnSmECircum</string>
    <string>LtnSmEDiaer</string>
    <string>LtnSmIAcute</string>
    <string>LtnSmIGrave</string>
    <string>LtnSmICircum</string>
    <string>LtnSmIDiaer</string>
    <string>LtnSmNTilde</string>
    <string>LtnSmOAcute</string>
    <string>LtnSmOGrave</string>
    <string>LtnSmOCircum</string>
    <string>LtnSmODiaer</string>
    <string>LtnSmOTilde</string>
    <string>LtnSmUAcute</string>
    <string>LtnSmUGrave</string>
    <string>LtnSmUCircum</string>
    <string>LtnSmUDiaer</string>
    <string>Dagger</string>
    <string>DegreeSgn</string>
    <string>CentSgn</string>
    <string>PoundSgn</string>
    <string>SectionSgn</string>
    <string>Bullet</string>
    <string>PilcrowSgn</string>
    <string>LtnSmSharpS</string>
    <string>RegisteredSgn</string>
    <string>CopyrightSgn</string>
    <string>TradeMrkSgn</string>
    <string>AcuteAccent</string>
    <string>Diaer</string>
    <string>NotEqTo</string>
    <string>LtnCapAe</string>
    <string>LtnCapOStrk</string>
    <string>Infinity</string>
    <string>PlusMinusSgn</string>
    <string>LTOrEqTo</string>
    <string>GTOrEqTo</string>
    <string>YenSgn</string>
    <string>MicroSgn</string>
    <string>PartialDiff</string>
    <string>NArySummation</string>
    <string>NAryProduct</string>
    <string>GrSmPi</string>
    <string>Integral</string>
    <string>FemOrdIndicator</string>
    <string>MascOrdIndicator</string>
    <string>OhmSgn</string>
    <string>LtnSmAe</string>
    <string>LtnSmOStrk</string>
    <string>InvQstnMrk</string>
    <string>InvExclamationMrk</string>
    <string>NotSgn</string>
    <string>SqrRoot</string>
    <string>LtnSmFHook</string>
    <string>AlmostEqTo</string>
    <string>Increment</string>
    <string>LftPtngDblAngQuotMrk</string>
    <string>RtPtngDblAngQuotMrk</string>
    <string>HorizEllipsis</string>
    <string>NoBreakSpace</string>
    <string>LtnCapAGrave</string>
    <string>LtnCapATilde</string>
    <string>LtnCapOTilde</string>
    <string>LtnCapLigOe</string>
    <string>LtnSmLigOe</string>
    <string>EnDash</string>
    <string>EmDash</string>
    <string>LftDblQuotMrk</string>
    <string>RtDblQuotMrk</string>
    <string>LftSglQuotMrk</string>
    <string>RtSglQuotMrk</string>
    <string>DivSgn</string>
    <string>Lozenge</string>
    <string>LtnSmYDiaer</string>
    <string>LtnCapYDiaer</string>
    <string>FracSlash</string>
    <string>CurrSgn</string>
    <string>SglLftPtngAngQuotMrk</string>
    <string>SglRtPtngAngQuotMrk</string>
    <string>LtnSmLigFi</string>
    <string>LtnSmLigFl</string>
    <string>DblDagger</string>
    <string>MiddleDot</string>
    <string>SglLow9QuotMrk</string>
    <string>DblLow9QuotMrk</string>
    <string>PerMilleSgn</string>
    <string>LtnCapACircum</string>
    <string>LtnCapECircum</string>
    <string>LtnCapAAcute</string>
    <string>LtnCapEDiaer</string>
    <string>LtnCapEGrave</string>
    <string>LtnCapIAcute</string>
    <string>LtnCapICircum</string>
    <string>LtnCapIDiaer</string>
    <string>LtnCapIGrave</string>
    <string>LtnCapOAcute</string>
    <string>LtnCapOCircum</string>
    <string>DottedCirc</string>
    <string>LtnCapOGrave</string>
    <string>LtnCapUAcute</string>
    <string>LtnCapUCircum</string>
    <string>LtnCapUGrave</string>
    <string>LtnSmDotlessI</string>
    <string>ModCircumAccent</string>
    <string>SmTilde</string>
    <string>Macron</string>
    <string>Breve</string>
    <string>DotAbv</string>
    <string>RingAbv</string>
    <string>Cedilla</string>
    <string>DblAcuteAccent</string>
    <string>Ogonek</string>
    <string>Caron</string>
    <string>EuroSgn</string>
    <string>LtnSmEth</string>
    <string>LtnCapEth</string>
    <string>LtnSmSchwa</string>
    <string>GrCapPi</string>
    <string>GrCapOmega</string>
    <string>LtnSmThorn</string>
    <string>LtnCapThorn</string>
    <string>LtnSmSCaron</string>
    <string>LtnCapSCaron</string>
    <string>LtnSmYAcute</string>
    <string>LtnCapYAcute</string>
    <string>LtnSmZCaron</string>
    <string>LtnCapZCaron</string>
    <string>LtnCapEsh</string>
    <string>SupOne</string>
    <string>SupTwo</string>
    <string>SupThree</string>
    <string>VulgFracOneHalf</string>
    <string>VulgFracOneQuarter</string>
    <string>VulgFracThreeQuarters</string>
    <string>BulletOperator</string>
    <string>BrokenBar</string>
    <string>Hyphen</string>
    <string>NonBreakingHyphen</string>
    <string>Hyphen_Soft</string>
    <string>HorizBar</string>
    <string>CombAcute</string>
    <string>CombGrave</string>
    <string>CombCircum</string>
    <string>CombCaron</string>
    <string>CombTilde</string>
    <string>MultSgn</string>
    <string>CombDiaer</string>
    <string>CombRingAbv</string>
    <string>CombCedilla</string>
  </array>
  <key>public.postscriptNames</key>
  <dict>
    <key>AcuteAccent</key>
    <string>acute</string>
    <key>AlmostEqTo</key>
    <string>approxequal</string>
    <key>Ampersand</key>
    <string>ampersand</string>
    <key>Apos</key>
    <string>quotesingle</string>
    <key>Asterisk</key>
    <string>asterisk</string>
    <key>AtSgn</key>
    <string>at</string>
    <key>Breve</key>
    <string>breve</string>
    <key>BrokenBar</key>
    <string>brokenbar</string>
    <key>Bullet</key>
    <string>bullet</string>
    <key>BulletOperator</key>
    <string>uni2219</string>
    <key>Caron</key>
    <string>caron</string>
    <key>Cedilla</key>
    <string>cedilla</string>
    <key>CentSgn</key>
    <string>cent</string>
    <key>CircumAccent</key>
    <string>asciicircum</string>
    <key>Colon</key>
    <string>colon</string>
    <key>CombAcute</key>
    <string>acutecomb</string>
    <key>CombCaron</key>
    <string>uni030C</string>
    <key>CombCedilla</key>
    <string>uni0327</string>
    <key>CombCircum</key>
    <string>uni0302</string>
    <key>CombDiaer</key>
    <string>uni0308</string>
    <key>CombGrave</key>
    <string>gravecomb</string>
    <key>CombRingAbv</key>
    <string>uni030A</string>
    <key>CombTilde</key>
    <string>tildecomb</string>
    <key>Comma</key>
    <string>comma</string>
    <key>CopyrightSgn</key>
    <string>copyright</string>
    <key>CurrSgn</key>
    <string>currency</string>
    <key>Dagger</key>
    <string>dagger</string>
    <key>DblAcuteAccent</key>
    <string>hungarumlaut</string>
    <key>DblDagger</key>
    <string>daggerdbl</string>
    <key>DblLow9QuotMrk</key>
    <string>quotedblbase</string>
    <key>DegreeSgn</key>
    <string>degree</string>
    <key>Diaer</key>
    <string>dieresis</string>
    <key>DigitEight</key>
    <string>eight</string>
    <key>DigitFive</key>
    <string>five</string>
    <key>DigitFour</key>
    <string>four</string>
    <key>DigitNine</key>
    <string>nine</string>
    <key>DigitOne</key>
    <string>one</string>
    <key>DigitSeven</key>
    <string>seven</string>
    <key>DigitSix</key>
    <string>six</string>
    <key>DigitThree</key>
    <string>three</string>
    <key>DigitTwo</key>
    <string>two</string>
    <key>DigitZero</key>
    <string>zero</string>
    <key>DivSgn</key>
    <string>divide</string>
    <key>DollarSgn</key>
    <string>dollar</string>
    <key>DotAbv</key>
    <string>dotaccent</string>
    <key>DottedCirc</key>
    <string>uni25CC</string>
    <key>EmDash</key>
    <string>emdash</string>
    <key>EnDash</key>
    <string>endash</string>
    <key>EqSgn</key>
    <string>equal</string>
    <key>EuroSgn</key>
    <string>Euro</string>
    <key>ExclamationMrk</key>
    <string>exclam</string>
    <key>FemOrdIndicator</key>
    <string>ordfeminine</string>
    <key>FracSlash</key>
    <string>fraction</string>
    <key>FullStop</key>
    <string>period</string>
    <key>GTOrEqTo</key>
    <string>greaterequal</string>
    <key>GTSgn</key>
    <string>greater</string>
    <key>GrCapOmega</key>
    <string>uni03A9</string>
    <key>GrCapPi</key>
    <string>Pi</string>
    <key>GrSmPi</key>
    <string>pi</string>
    <key>GraveAccent</key>
    <string>grave</string>
    <key>HorizBar</key>
    <string>uni2015</string>
    <key>HorizEllipsis</key>
    <string>ellipsis</string>
    <key>Hyphen</key>
    <string>uni2010</string>
    <key>HyphenMinus</key>
    <string>hyphen</string>
    <key>Hyphen_Soft</key>
    <string>uni00AD</string>
    <key>Increment</key>
    <string>Delta</string>
    <key>Infinity</key>
    <string>infinity</string>
    <key>Integral</key>
    <string>integral</string>
    <key>InvExclamationMrk</key>
    <string>exclamdown</string>
    <key>InvQstnMrk</key>
    <string>questiondown</string>
    <key>LTOrEqTo</key>
    <string>lessequal</string>
    <key>LTSgn</key>
    <string>less</string>
    <key>LftCurlyBrac</key>
    <string>braceleft</string>
    <key>LftDblQuotMrk</key>
    <string>quotedblleft</string>
    <key>LftParen</key>
    <string>parenleft</string>
    <key>LftPtngDblAngQuotMrk</key>
    <string>guillemotleft</string>
    <key>LftSglQuotMrk</key>
    <string>quoteleft</string>
    <key>LftSqrBrac</key>
    <string>bracketleft</string>
    <key>LowLine</key>
    <string>underscore</string>
    <key>Lozenge</key>
    <string>lozenge</string>
    <key>LtnCapA</key>
    <string>A</string>
    <key>LtnCapAAcute</key>
    <string>Aacute</string>
    <key>LtnCapACircum</key>
    <string>Acircumflex</string>
    <key>LtnCapADiaer</key>
    <string>Adieresis</string>
    <key>LtnCapAGrave</key>
    <string>Agrave</string>
    <key>LtnCapARingAbv</key>
    <string>Aring</string>
    <key>LtnCapATilde</key>
    <string>Atilde</string>
    <key>LtnCapAe</key>
    <string>AE</string>
    <key>LtnCapB</key>
    <string>B</string>
    <key>LtnCapC</key>
    <string>C</string>
    <key>LtnCapCCedilla</key>
    <string>Ccedilla</string>
    <key>LtnCapD</key>
    <string>D</string>
    <key>LtnCapE</key>
    <string>E</string>
    <key>LtnCapEAcute</key>
    <string>Eacute</string>
    <key>LtnCapECircum</key>
    <string>Ecircumflex</string>
    <key>LtnCapEDiaer</key>
    <string>Edieresis</string>
    <key>LtnCapEGrave</key>
    <string>Egrave</string>
    <key>LtnCapEsh</key>
    <string>uni01A9</string>
    <key>LtnCapEth</key>
    <string>Eth</string>
    <key>LtnCapF</key>
    <string>F</string>
    <key>LtnCapG</key>
    <string>G</string>
    <key>LtnCapH</key>
    <string>H</string>
    <key>LtnCapI</key>
    <string>I</string>
    <key>LtnCapIAcute</key>
    <string>Iacute</string>
    <key>LtnCapICircum</key>
    <string>Icircumflex</string>
    <key>LtnCapIDiaer</key>
    <string>Idieresis</string>
    <key>LtnCapIGrave</key>
    <string>Igrave</string>
    <key>LtnCapJ</key>
    <string>J</string>
    <key>LtnCapK</key>
    <string>K</string>
    <key>LtnCapL</key>
    <string>L</string>
    <key>LtnCapLigOe</key>
    <string>OE</string>
    <key>LtnCapM</key>
    <string>M</string>
    <key>LtnCapN</key>
    <string>N</string>
    <key>LtnCapNTilde</key>
    <string>Ntilde</string>
    <key>LtnCapO</key>
    <string>O</string>
    <key>LtnCapOAcute</key>
    <string>Oacute</string>
    <key>LtnCapOCircum</key>
    <string>Ocircumflex</string>
    <key>LtnCapODiaer</key>
    <string>Odieresis</string>
    <key>LtnCapOGrave</key>
    <string>Ograve</string>
    <key>LtnCapOStrk</key>
    <string>Oslash</string>
    <key>LtnCapOTilde</key>
    <string>Otilde</string>
    <key>LtnCapP</key>
    <string>P</string>
    <key>LtnCapQ</key>
    <string>Q</string>
    <key>LtnCapR</key>
    <string>R</string>
    <key>LtnCapS</key>
    <string>S</string>
    <key>LtnCapSCaron</key>
    <string>Scaron</string>
    <key>LtnCapT</key>
    <string>T</string>
    <key>LtnCapThorn</key>
    <string>Thorn</string>
    <key>LtnCapU</key>
    <string>U</string>
    <key>LtnCapUAcute</key>
    <string>Uacute</string>
    <key>LtnCapUCircum</key>
    <string>Ucircumflex</string>
    <key>LtnCapUDiaer</key>
    <string>Udieresis</string>
    <key>LtnCapUGrave</key>
    <string>Ugrave</string>
    <key>LtnCapV</key>
    <string>V</string>
    <key>LtnCapW</key>
    <string>W</string>
    <key>LtnCapX</key>
    <string>X</string>
    <key>LtnCapY</key>
    <string>Y</string>
    <key>LtnCapYAcute</key>
    <string>Yacute</string>
    <key>LtnCapYDiaer</key>
    <string>Ydieresis</string>
    <key>LtnCapZ</key>
    <string>Z</string>
    <key>LtnCapZCaron</key>
    <string>Zcaron</string>
    <key>LtnSmA</key>
    <string>a</string>
    <key>LtnSmAAcute</key>
    <string>aacute</string>
    <key>LtnSmACircum</key>
    <string>acircumflex</string>
    <key>LtnSmADiaer</key>
    <string>adieresis</string>
    <key>LtnSmAGrave</key>
    <string>agrave</string>
    <key>LtnSmARingAbv</key>
    <string>aring</string>
    <key>LtnSmATilde</key>
    <string>atilde</string>
    <key>LtnSmAe</key>
    <string>ae</string>
    <key>LtnSmB</key>
    <string>b</string>
    <key>LtnSmC</key>
    <string>c</string>
    <key>LtnSmCCedilla</key>
    <string>ccedilla</string>
    <key>LtnSmD</key>
    <string>d</string>
    <key>LtnSmDotlessI</key>
    <string>dotlessi</string>
    <key>LtnSmE</key>
    <string>e</string>
    <key>LtnSmEAcute</key>
    <string>eacute</string>
    <key>LtnSmECircum</key>
    <string>ecircumflex</string>
    <key>LtnSmEDiaer</key>
    <string>edieresis</string>
    <key>LtnSmEGrave</key>
    <string>egrave</string>
    <key>LtnSmEth</key>
    <string>eth</string>
    <key>LtnSmF</key>
    <string>f</string>
    <key>LtnSmFHook</key>
    <string>florin</string>
    <key>LtnSmG</key>
    <string>g</string>
    <key>LtnSmH</key>
    <string>h</string>
    <key>LtnSmI</key>
    <string>i</string>
    <key>LtnSmIAcute</key>
    <string>iacute</string>
    <key>LtnSmICircum</key>
    <string>icircumflex</string>
    <key>LtnSmIDiaer</key>
    <string>idieresis</string>
    <key>LtnSmIGrave</key>
    <string>igrave</string>
    <key>LtnSmJ</key>
    <string>j</string>
    <key>LtnSmK</key>
    <string>k</string>
    <key>LtnSmL</key>
    <string>l</string>
    <key>LtnSmLigFi</key>
    <string>fi</string>
    <key>LtnSmLigFl</key>
    <string>fl</string>
    <key>LtnSmLigOe</key>
    <string>oe</string>
    <key>LtnSmM</key>
    <string>m</string>
    <key>LtnSmN</key>
    <string>n</string>
    <key>LtnSmNTilde</key>
    <string>ntilde</string>
    <key>LtnSmO</key>
    <string>o</string>
    <key>LtnSmOAcute</key>
    <string>oacute</string>
    <key>LtnSmOCircum</key>
    <string>ocircumflex</string>
    <key>LtnSmODiaer</key>
    <string>odieresis</string>
    <key>LtnSmOGrave</key>
    <string>ograve</string>
    <key>LtnSmOStrk</key>
    <string>oslash</string>
    <key>LtnSmOTilde</key>
    <string>otilde</string>
    <key>LtnSmP</key>
    <string>p</string>
    <key>LtnSmQ</key>
    <string>q</string>
    <key>LtnSmR</key>
    <string>r</string>
    <key>LtnSmS</key>
    <string>s</string>
    <key>LtnSmSCaron</key>
    <string>scaron</string>
    <key>LtnSmSchwa</key>
    <string>uni0259</string>
    <key>LtnSmSharpS</key>
    <string>germandbls</string>
    <key>LtnSmT</key>
    <string>t</string>
    <key>LtnSmThorn</key>
    <string>thorn</string>
    <key>LtnSmU</key>
    <string>u</string>
    <key>LtnSmUAcute</key>
    <string>uacute</string>
    <key>LtnSmUCircum</key>
    <string>ucircumflex</string>
    <key>LtnSmUDiaer</key>
    <string>udieresis</string>
    <key>LtnSmUGrave</key>
    <string>ugrave</string>
    <key>LtnSmV</key>
    <string>v</string>
    <key>LtnSmW</key>
    <string>w</string>
    <key>LtnSmX</key>
    <string>x</string>
    <key>LtnSmY</key>
    <string>y</string>
    <key>LtnSmYAcute</key>
    <string>yacute</string>
    <key>LtnSmYDiaer</key>
    <string>ydieresis</string>
    <key>LtnSmZ</key>
    <string>z</string>
    <key>LtnSmZCaron</key>
    <string>zcaron</string>
    <key>Macron</key>
    <string>macron</string>
    <key>MascOrdIndicator</key>
    <string>ordmasculine</string>
    <key>MicroSgn</key>
    <string>mu</string>
    <key>MiddleDot</key>
    <string>periodcentered</string>
    <key>ModCircumAccent</key>
    <string>circumflex</string>
    <key>MultSgn</key>
    <string>multiply</string>
    <key>NAryProduct</key>
    <string>product</string>
    <key>NArySummation</key>
    <string>summation</string>
    <key>NoBreakSpace</key>
    <string>uni00A0</string>
    <key>NonBreakingHyphen</key>
    <string>uni2011</string>
    <key>NotEqTo</key>
    <string>notequal</string>
    <key>NotSgn</key>
    <string>logicalnot</string>
    <key>NumSgn</key>
    <string>numbersign</string>
    <key>Ogonek</key>
    <string>ogonek</string>
    <key>OhmSgn</key>
    <string>Omega</string>
    <key>PartialDiff</key>
    <string>partialdiff</string>
    <key>PerMilleSgn</key>
    <string>perthousand</string>
    <key>PercentSgn</key>
    <string>percent</string>
    <key>PilcrowSgn</key>
    <string>paragraph</string>
    <key>PlusMinusSgn</key>
    <string>plusminus</string>
    <key>PlusSgn</key>
    <string>plus</string>
    <key>PoundSgn</key>
    <string>sterling</string>
    <key>QstnMrk</key>
    <string>question</string>
    <key>QuotMrk</key>
    <string>quotedbl</string>
    <key>RegisteredSgn</key>
    <string>registered</string>
    <key>ReverseSolidus</key>
    <string>backslash</string>
    <key>RingAbv</key>
    <string>ring</string>
    <key>RtCurlyBrac</key>
    <string>braceright</string>
    <key>RtDblQuotMrk</key>
    <string>quotedblright</string>
    <key>RtParen</key>
    <string>parenright</string>
    <key>RtPtngDblAngQuotMrk</key>
    <string>guillemotright</string>
    <key>RtSglQuotMrk</key>
    <string>quoteright</string>
    <key>RtSqrBrac</key>
    <string>bracketright</string>
    <key>SectionSgn</key>
    <string>section</string>
    <key>Semicolon</key>
    <string>semicolon</string>
    <key>SglLftPtngAngQuotMrk</key>
    <string>guilsinglleft</string>
    <key>SglLow9QuotMrk</key>
    <string>quotesinglbase</string>
    <key>SglRtPtngAngQuotMrk</key>
    <string>guilsinglright</string>
    <key>SmTilde</key>
    <string>tilde</string>
    <key>Solidus</key>
    <string>slash</string>
    <key>Space</key>
    <string>space</string>
    <key>SqrRoot</key>
    <string>radical</string>
    <key>SupOne</key>
    <string>onesuperior</string>
    <key>SupThree</key>
    <string>threesuperior</string>
    <key>SupTwo</key>
    <string>twosuperior</string>
    <key>Tilde</key>
    <string>asciitilde</string>
    <key>TradeMrkSgn</key>
    <string>trademark</string>
    <key>VertLine</key>
    <string>bar</string>
    <key>VulgFracOneHalf</key>
    <string>onehalf</string>
    <key>VulgFracOneQuarter</key>
    <string>onequarter</string>
    <key>VulgFracThreeQuarters</key>
    <string>threequarters</string>
    <key>YenSgn</key>
    <string>yen</string>
  </dict>
</dict>
</plist>
